.starter-template {
    padding: 1vw 0.5vw;
    text-align: center;

    h1 {
        color: #f53d3d;
    }

    p {
        color: #008db1;
    }
    
    p.lead {
        font-size: 1.25rem;
        font-weight: 300;
    }
}
