<div class="row justify-content-center">
    <section id="playground" class="grid" [ngStyle]="gridStyle" *ngIf="!isFinished">
        <div class="grid-item" [ngStyle]="gridItemStyle" *ngFor="let space of spaces; let i = index;">
            <div class="item pointer" [ngStyle]="itemStyle" [style.background-color]="setColor(s, i, j)"
                *ngFor="let s of space; let j = index;" (click)="play(s, i, j)">
                <span [innerText]="!!s ? s : ''"></span>
            </div>
        </div>
    </section>

    <section id="result" class="grid result text-center" [ngStyle]="gridStyle" *ngIf="isFinished">
        <div class="board">
            <span [style]="scoreFont" [innerText]="count"></span>
            <div class="pointer" [style]="restartFont" (click)="restart()">
                Restart
            </div>
        </div>
    </section>
</div>
